<div class="homepage">
    <h2>Welcome to my Tech Blog</h2>
    <div class="blog-posts">
        {{#each blogPosts}}
            <div class="blog-post">
                <h3>{{title}}</h3>
                <p class="post-meta">Posted by {{user.name}}</p>
                <p>{{{content}}}</p>
                <a href="/api/comment.js{{id}}">comment</a>
            </div>
        {{/each}}
    </div>
</div>

